@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
/* root pseudoclass */
:root {
    --primary-font: 'Inter' , sans-serif;
    --secondary-font: 'Macondo' , cursive;
    --primary-color: #416a8e;
    --secondary-color: #aa9581;
    --highlight-color: #416a8e;
    --highlight-color-light: #7a9fc2;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Stlyes */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}

h1, 
h2 {
    text-transform: uppercase;
}

h2 {
    margin-bottom: 2rem;
}

.sub-heading-color {
    color: var(--highlight-color);
}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sharp-corners,
/* Wildcar selects all elemnts that have a parent with the desired class*/
.sharp-corners * {
    border-radius: 0;
}

/* Navbar */
#navbar{
    background-color: var(--primary-color);
}

#navbar .logo {
    width: 30px;
}

/* Header */
#header .lead {
    font-family: var(--secondary-font);
}

/* Services */
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}

#services .card {
    margin-bottom: 1.5rem;
}

/* New games sections */
#new-games .card {
    margin-bottom: 1.5rem;
}


/* Fav games sections */
#fav-games .card {
    margin-bottom: 1.5rem;
}




/* grid visualization CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    background-color: grey;
    border: 2px solid green;
} */

/* Media queries */

/* Medium devices (tablets, 768px and up*/
@media screen and (min-width: 768px) {
    #services .card-body {
        min-height: 191px;
    }

    #fav-games .card-text {
        min-height: 144px;
    }
}

/* Large devices (small laptops, 992px and up*/
@media screen and (min-width: 992px) {
    #services .card-body {
        min-height: auto;
    }

    #fav-games .card-text {
        min-height: 96px;
    }
}

/* Extra large devices (laptops, 1200px and up*/
@media screen and (min-width: 1200px) {
    #services .card-body {
        min-height: 220px;
    }

    #fav-games .card-text {
        min-height: 168px;
    }
}
/* Extra large devices (laptops, 1400px and up*/
@media screen and (min-width: 1400px) {
    #services .card-body {
        min-height: 194px;
    }

    #fav-games .card-text {
        min-height: 144px;
    }
}